.StartScreen {
    top: 56px;
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    height: 800px;
    text-align: center;
}

.HeaderText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 10px;
}

.BenefitsText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 20px;
    text-align: center;
    margin-top: 30px;
    max-width: 760px;
    display: inline-block;
    line-height: 150%;
}

.BenefitsText > p,h4 {
    margin: 5px;
}

.StartButton {
    background-color: green;
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    width: 135px;
    height: 40px;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
    left: 50%;
    margin-top: 20px;
}

.StartButton:hover {
    background-color: aquamarine;
    color: white;
}

.StartImage {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}