.StartScreen {
    top: 56px;
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    height: 800px;
    text-align: center;
}

.HeaderText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 10px;
    max-width: 690px;
    display: inline-block;

}

.SelectModeText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.BenefitsText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 20px;
    text-align: center;
    margin-top: 30px;
    max-width: 690px;
    display: inline-block;
    line-height: 150%;
}

.BenefitsText > p,h4 {
    margin: 5px;
}

.RadioGroup {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.RadioItem {
    margin: 0 0px 0 25px;
}

.ButtonsDiv {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 8px;
    padding-bottom: 10px;
}

.StartButton {
    background-color: green;
    color: white;
    font-size: 1.8rem;
    padding: 5px;
    width: 180px;
    height: 45px;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.GooglePlayButton {
    padding: 5px;
    width: 180px;
    cursor: pointer;
    outline: none;
    margin-top: 4px;
}

.StartButton:hover {
    background-color: aquamarine;
    color: white;
}

.StartImage {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

.ModesImage {
    display: inline-block;
    width: 600px;
    margin-bottom: 10px;
}

.Ad300x100 {
    display: none;
}

.Ad300x250_2 {
    display: none;
}

.Ad160x600L {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.Ad160x600R {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
}

.Ad728x90 {
    display: block;
    height: 90px;
}

.Ad300x250 {
    display: block;
    margin-top: 10px;
    height: 250px;
}

@media only screen and (max-width: 1023px) {

    .ModesImage {
        display: inline-block;
        width: 340px;
        margin-bottom: 10px;
        margin-left: -5px;
    }

    .Ad300x100 {
      display: block;
      height: 100px;
    }

    .Ad300x250_2 {
        display: block;
        height: 250px;
    }

    .Ad160x600L {
        display: none;
    }

    .Ad160x600R {
        display: none;
    }

    .Ad728x90 {
        display: none;
    }
}