.StartScreen {
    top: 56px;
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    height: 800px;
    text-align: center;
}

.HeaderText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 10px;
}

.BenefitsText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 20px;
    text-align: center;
    margin-top: 30px;
    max-width: 690px;
    display: inline-block;
    line-height: 150%;
}

.BenefitsText > p,h4 {
    margin: 5px;
}

.ButtonsDiv {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.StartButton {
    background-color: green;
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    width: 140px;
    height: 36px;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
}

.GooglePlayButton {
    padding: 5px;
    width: 145px;
    cursor: pointer;
    outline: none;
    margin-top: 4px;
}

.StartButton:hover {
    background-color: aquamarine;
    color: white;
}

.StartImage {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

.Ad300x100 {
    display: none;
}

.Ad300x50 {
    display: none;
}

.Ad160x600L {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.Ad160x600R {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
}

.Ad728x90 {
    display: block;
}

.Ad300x250 {
    display: inline-block;
    margin-top: -30px;
}

@media only screen and (max-width: 1023px) {
    .Ad300x100 {
      display: inline-block;
    }

    .Ad300x50 {
        display: inline-block;
      }

    .Ad160x600L {
        display: none;
    }

    .Ad160x600R {
        display: none;
    }

    .Ad728x90 {
        display: none;
    }
}