.AnswerScreen {
    top: 56px;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

.Emojis {
   font-size: 3rem;
}

.Numbers {
   font-size: 2rem;
    display: inline-block;
    padding: 8px;
}

.EvenItem {
   color: purple;
}

.OddItem {
   color: navy;
}

.AnswerScreenItem {
    cursor:pointer
 }

 .ItemFailed {
    background-color: red;
    pointer-events: none;
 }

 .ItemNext {
    background-color: lawngreen;
    pointer-events: none;
 }

 .ItemsLeft {
    color: red;
    bottom: 10px;
    position: fixed;
    width: inherit;
 }