.AnswerScreen {
    top: 56px;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    text-align: center;
    background-color: #F0F0F0;
    touch-action: none; /* Prevent pull-to-refresh */
}

.Flags {
   width: 138px;
   height: 90px;
   padding: 4px 2px 2px 2px;
}

.PlayingCard {
   width: 103px;
   padding: 4px 2px 2px 2px;
}

.Shapes {
   width: 110px;
   padding: 4px 2px 2px 2px;
}

.Emojis {
   font-size: 5rem;
}

.Numbers {
   font-size: 5rem;
    display: inline-block;
    padding: 10px;
}

.Kids {
   font-size: 9rem;
   padding: 20px;
}

.EvenItem {
   color: purple;
}

.OddItem {
   color: navy;
}

.Question {
   font-size: 3em;
   margin: 20px 0 20px 0;
}

.AudioIcon {
   margin-left: 10px;
   vertical-align: middle;
   width: 50px;
   cursor: pointer;
}

.AnswerScreenItem {
    cursor:pointer
 }
 
 .ItemFailed {
    background-color: red;
    pointer-events: none;
 }

 .ItemNext {
    animation: blinker 1s linear infinite;
    background-color: lawngreen;
    pointer-events: none;
 }

 @keyframes blinker {
   50% {
     opacity: 0;
   }
 }

 .ItemsLeft {
    color: red;
    bottom: 10px;
    position: fixed;
    width: inherit;
    font-size: 1.2rem;
 }

 .ItemsList {
   width: 80%;
   margin: auto;
 }


 @media only screen and (max-width: 1023px) {

   .ItemsList {
      width: 100%;
      margin: auto;
    }
   

   .Flags {
      width: 46px;
      height: 30px;
      padding: 2px 2px 8px 2px;
   }

   .PlayingCard {
      width: 43px;
      padding: 1px 2px 1px 2px;
   }

   .Shapes {
      width: 46px;
      padding: 2px 2px 4px 2px;
   }

   .Emojis {
      font-size: 3rem;
   }

   .Kids {
      display: inline-block;
      font-size: 5rem;
      padding: 4px 10px 4px 10px;
   }

   .Numbers {
      font-size: 2rem;
      padding: 8px;
   }

   .AudioIcon {
      margin-left: 10px;
      vertical-align: middle;
      width: 20px;
      cursor: pointer;
   }

   .Question {
      font-size: 1.5em;
      margin: 10px 0 10px 0;
   }
}