.IntroScreen {
    top: 12%;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.IntroScreen h1 {
    margin: 50px 20px 0px 20px;
    color:teal
}

.Ad728x90 {
    display: block;
    height: 90px;
}

.Ad300x250 {
    position: relative;
    margin-top: 30px;
}

@media only screen and (max-width: 1023px) {

    .Ad728x90 {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .IntroScreen h1 {
      color: white;
    }
    .IntroScreen h2 {
      color: white;
    }
}