.Legal {
    padding: 0px 10px;
    top: 56px;
    position: relative;
    display: block;
    overflow: auto;
}

.Ad300x250 {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}