.MainScreen {
    top: 56px;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

.StartButton {
    background-color: green;
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    width: 120px;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
    left: 50%;
}

.StartButton:hover {
    background-color: aquamarine;
    color: white;
}