.EndScreen {
    top: 56px;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

.RestartButton {
    background-color: green;
    color: white;
    font-size: 1.2rem;
    padding: 5px;
    width: 150px;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
    left: 50%;
    margin-top: 20px;
}

.RestartButton:hover {
    background-color: aquamarine;
    color: white;
}

.Results {
    display: inline;
    color: green;
}

.ShareText {
    text-align: center;
    margin-top: 100px;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: normal;
}

.ShareButtons {
    justify-content: space-evenly;
    margin-top: 20px;
    display: flex;
}