.SlideShowScreen {
    top: 100px;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

.SlideShowFont {
    font-size: 12rem;
}

.Flags {
    border: 1px solid black;
    width: 320px;
    height: 213px;
 }

.FlagLabel {
    display: block;
    font-size: 3rem;
}

.PokerCard {
    border: 1px solid black;
    width: 275px;
 }

.PokerCardLabel {
    display: block;
    font-size: 2.5rem;
}

.Shapes {
    width: 250px;
 }

 .ShapeLabel {
    display: block;
    font-size: 2rem;
}