.SlideShowScreen {
    top: 56px;
    position: absolute;
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

.SlideShowFont {
    font-size: 12rem;
}